bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

.idea
*.sln.DotSettings.User

nuget
accuracy-reports
 
# Don't check in gzipped files
/src/Lingua/LanguageModels/**/*.json.gz

# don't check in benchmarking artifacts
BenchmarkDotNet.Artifacts/
